[Unit] 
Description=Atlassian Jira
After=network.target

[Service] 
Type=forking
User=jira
PIDFile=/opt/atlassian/jira/work/catalina.pid
ExecStart=/opt/atlassian/jira/bin/start-jira.sh
ExecStop=/opt/atlassian/jira/bin/stop-jira.sh
CPUQuota=50%
LimitNPROC=9000
LimitNOFILE=20000
LimitNICE=15
MemoryLimit=900M
SuccessExitStatus=143
Restart=on-failure
RestartSec=5s

[Install] 
WantedBy=multi-user.target
