vrrp_script chk_haproxy {
  script "killall -0 haproxy"
  interval 2
  weight 2
}

vrrp_instance VI_1 {
  interface {{interface}}
  state MASTER
  virtual_router_id {{virtual_router_id}}
{% if ansible_hostname == 'haproxy01' %}
  priority 101
{% elif ansible_hostname == 'haproxy02' %}
  priority 100
{% endif %}
  virtual_ipaddress {
    {{virtual_ipaddress}}
  }
  track_script {
    chk_haproxy
  }
}
